* {
	box-sizing:		border-box;
}

body{
	background-image:	linear-gradient(
						#00113C, 
						#8392B3,
						#FE9A28);
	font-family:		Arial;
	font-size:			16pt;
	background-color:	rgb(0,0,50);
	color:				rgb(255,255,255);
	margin:				0;
}

#title{
	font-family:		Times New Roman;
	font-size:			50pt;
	font-weight:		bold;
	font-style:			italic;
	text-align:			center;
	padding:			40pt 0pt 40pt 0pt;
	margin:				0;
}

#brandName{
	font-family:		Times New Roman;
	font-weight:		bold;
	font-style:			italic;
}

.navigator{
	background-color:	rgb(255,255,255,20%);
	padding:			20pt 0pt 20pt 0pt;
	text-align:			center;
	font-weight:		bold;
	float:				left;
	width:				25%;
}

.navigator:hover{
	background-color:	rgb(255,255,255,50%);
}

#content{
	text-align:			center;
	clear:				left;
	padding:			30pt;
}

#photo{
	float:				right;
	width:				60%;
	margin:				0pt 30pt 0pt 0pt;
}

#logo{
	float:				right;
	width:				30%;
	max-width:			500px;
	height:				auto;
	margin-left:		30pt;
}

#map{
	width:				80%;
	max-width:			1080px;
	height:				auto;
}

#descriptionSection{
	clear:				right;
}

.commentBlock{
	background-color:	rgb(255,255,255,20%);
	padding:			10pt;
	margin: 			5pt 0pt 5pt 0pt;
	text-align:			left;
}

h1{
	text-align:			left;
}

h2{
	text-align:			left;
}

h3{
	text-align:			left;
}

a{
	color:				#FFFFFF;
}

p{
	font-size:			16pt;
	text-align:			justify;
}

ul{
	text-align:			left;
}

.comment{
	background-color:	rgb(255,255,255,20%);
	padding:			10pt 10pt 10pt 10pt;
	margin: 			5pt 0pt 5pt 0pt;
}

.commentDate{
	font-size:			12pt;
	font-weight:		normal;
}

.stars{
	text-align:			left;
}

.center{
	text-align:			center;
}

textarea{
	background-color:	rgb(255,255,255,0%);
	color:				rgb(255,255,255);
	font-family:		Arial;
	font-size:			16pt;
	width:				100%;
	padding:			5pt;
	resize:				none;
	border:				solid;
	border-width:		2px;
	border-color:		rgb(255,255,255);
}

label{
	font-family:		Arial;
	font-size:			16pt;
	padding:			5pt;
}

input{
	font-family:		Arial;
	font-size:			16pt;
	padding:			5pt;
	border:				solid;
	border-width:		2px;
	border-color:		rgb(255,255,255);
	color:				rgb(255,255,255);
	background-color:	rgb(255,255,255,20%);
}

button{
	font-family:		Arial;
	font-size:			16pt;
	padding:			5pt;
	border:				none;
	color:				rgb(255,255,255);
	background-color:	rgb(255,255,255,20%);
}

button:hover{
	background-color:	rgb(255,255,255,50%);
}

#login{
	margin:				30pt;
}

#register{
	margin:				30pt;
}

footer{
	background-color:	rgb(255,255,255,20%);
	text-align:			center;
	padding:			10pt 10pt 30pt 10pt;
	margin:				30pt;
}

@media screen and (max-width: 800px) {
	
	body{
		font-size:			12pt;
		background-color:	rgb(0,0,50);
		color:				rgb(255,255,255);
		margin:				0;
		text-align:			center;
	}
	
	#title{
		font-size:			25pt;
		padding:			10pt 0pt 10pt 0pt;
	}
	
	.navigator{
		width:			100%;
		padding:		10pt 0pt 10pt 0pt;
	}
  
	#content{
		clear:			left;
		padding:		10pt;
	}	
  
	#photo{
		clear:			left;
		float:			center;
		width:			100%;
		margin:			0pt 0pt 30pt 0pt;
	}
	
	#logo{
		float:			none;
		width:			75%;
		margin-left: auto;
		margin-right: auto;
	}
	
	#map{
		width:			100%;
	}
	
	
	p{
		font-size:			12pt;
	}
	
	textarea{
		background-color:	rgb(255,255,255,0%);
		color:				white;
		font-size:			12pt;
	}
	
	label{
		font-size:			12pt;
	}
	
	input{
		font-size:			12pt;
	}
	
	button{
		font-size:			12pt;
	}
	
	footer{
		margin:				10pt;
	}

	.stars{
		text-align:			center;
	}
	
	.commentDate{
		font-size:			8pt;
	}
}